body {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #303030;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 42px;
    font-weight: 500;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 28px;
    font-weight: 500;
}

h4 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

h5 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 52px;
    font-weight: 700;
}

h6 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.logo-row {
    height: 70px;
}

.logo {
    background-image: url("assets/logo.png");
    margin-top: 14px;
    height: 39px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.cart {
    background-image: url("assets/cart_item_added.png");
    margin-top: 14px;
    margin-left: 23px;
    height: 38px;
    width: 41px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.cart_item {
    margin-left: 28px;
    font-weight: 500;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
}

.nav-link {
    padding: 14px 17px 0 17px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 600;
}


/* Flickity carousel  */

/* external css: flickity.css */
* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #fff;
  max-width: 1400px;
  margin: 0 auto;
}

.carousel-cell {
  width: 100%;
  height: 400px;
  margin-right: 10px;
  background: rgb(148, 148, 148);
  counter-increment: gallery-cell;
}

/* Slide carousel. */
.btn-warning {
    color: #202020;
    background-color: #ffd900;
    border-color: #ffd900;
    border-radius: 0;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    font-size: 21px;
}

.slide-1 {
    background-image: url("assets/iphone-11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-2 {
    background-image: url("assets/oppo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-3 {
    background-image: url("assets/samsung-s20.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.filter-field {
    height: 130px;
    margin-top: 70px;
}

.purple {
    color: rgb(59, 27, 63);
}


/* Filter fields. */
.filter-field-border {
    border-left: 1px solid #909090;
}


/* Product cards */
.product-card {
    max-width: 230px;
    background-color: #fff;
    border-color: #909090;
    border-style: solid;
    border-width: 1px;
    margin: 0 auto;
}

.product-new {
    height: 35px;
    max-width: 230px;
    background-color: #fff;
    border-color: #9c2aa0;
    border-style: solid;
    border-width: 1px;
    border-bottom: none;
    background-color: #9c2aa0;
    margin: 0 auto;
}

.product-new-placeholder {
    height: 35px;
    max-width: 240px;
    background-color: #fff;
    margin: 0 auto;
}

.thumb {
    height: 220px;
}

.brand-name {
height: 10px;
font-weight: 400;
}

.model-name {
font-family: 'Titillium Web', sans-serif;
font-size: 32px;
font-weight: 700;
}

.price {
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.per-month {
    font-weight: 400;
}

.list {
    /* font-family: 'Titillium Web', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    list-style-type: none;
}

ul {
    padding-inline-start: 0px;
}

.btn-outline-dark {
    border-radius: 0;
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}

.features {
    min-height: 210px
}



/* Products dropdown */
.dropdown-item {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.dropdown-menu {
    left: 12px;
    border-radius: 0;
}

.filter-button {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0;
}



footer {
    height: 500px;
}


/* Media queries. */

/* not working yet */
@media only screen and (max-width: 768px) {
    .devices {
        display: none;
    }
}