body {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #303030;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 42px;
    font-weight: 500;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 28px;
    font-weight: 500;
}

h4 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

h5 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 52px;
    font-weight: 700;
}

h6 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.logo-row {
    height: 81px;
}

.logo {
    background-image: url("assets/logo.png");
    margin-top: 16px;
    height: 44px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.cart {
    background-image: url("assets/cart_item_added.png");
    margin-top: 22px;
    margin-left: 23px;
    height: 38px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.cart_item {
    z-index: 6;
    margin-left: 34px;
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

.nav-link {
    padding: 18px 17px 0 17px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 21px;
    font-weight: 600;
}


/* Flickity carousel  */

/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #fff;
  max-width: 1400px;
  margin: 0 auto;
}

.carousel-cell {
  width: 100%;
  height: 450px;
  margin-right: 10px;
  background: rgb(148, 148, 148);
  counter-increment: gallery-cell;
}

.btn-warning {
    color: #202020;
    background-color: #ffd900;
    border-color: #ffd900;
    border-radius: 0;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    font-size: 21px;
}

.slide-1 {
    background-image: url("assets/iphone-11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-2 {
    background-image: url("assets/samsung-s20.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-3 {
    background-image: url("assets/oppo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.product-card {
height: 500px;
min-width: 250px;
background-color: #fff;
border-color: #909090;
border-style: solid;
border-width: 1px;
}



/* Media queries. */

/* not working yet */
@media only screen and (max-width: 768px) {
    .devices {
        display: none;
    }
}